@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header h1 {
    display: inline-block;
    color: grey;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
}

header {
    padding: 30px 3%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    border-bottom: 1px solid #c1c1c1;
}

main {
    padding: 50px 3%;
}

.back-button {
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    padding: 6px 20px;
    background-color: rgb(178, 62, 60);
    border-radius: 10px;
    margin-bottom: 50px;
}

.home-links {
    background-color: rgb(178, 62, 60);
    padding: 50px 75px;
    margin: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.home-links:hover {
    background-color: rgba(97, 23, 20, 0.884);
}

.home-links i, .home-links p {
    color: #ffffff;
    
}

.home-links p {
    margin-top: 10px;
    font-size: 22px;
    
}